version: '3'
services:
  # Application Dockerfile is in same folder which is .
  app:
    build: .
    depends_on:
      - db
    environment:
      - DB_HOST=db
    restart: on-failure

  # db is is db folder
  db:
    build: db/.
    ports:
      - 3306:3306
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5